#header {
       font-size: 50px;
}

#frog {
       font-size: 50px;
}

.box1 {
       display: flex;
}

.box2 {
       display: flex;
}

.box3 {
       display: flex;
}

.box4 {
       display: flex;
}

.box5 {
       display: flex;
}

.box6 {
       display: flex;
}